.container{
    margin-bottom: 50px;
}
.nv-bg{
    border-radius: 10px;
    background-color: rgba(112, 103, 103, 0.973);
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 20px;
}
.carousel-item{
    padding: 50px 50px;
}
.price{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3{
    padding: 20px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: rgb(13, 171, 192);
}
.cat3{
    background-color: green;
}
.categories h1{
    color:white;

    }
.categories img{
    width: 100px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
    background-color: #feeae9;
    border-radius: 20px;

}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}